.button {
  cursor: pointer;
  padding: 14px 39px;
  border: 3px solid #FCB72B;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;  
  color: #FFFFFF;
  background: #FCB72B;
}

.button:active {
  color: #FCB72B;
  border: 3px solid #FCB72B;
  background-color: transparent;
}