.hero {
  width: 100%;
  height: auto;
  background-image: url(../img/hero-bi.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 153px 0;
}

.hero__title {
  margin: 0;
  padding: 0;
  max-width: 500px;
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;  
  color: #FFFFFF;
}

.hero__line {
  max-width: 1000px;
  margin-left: -70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-img {
  margin-bottom: 50px;
}

.hero__box {
  max-width: 350px;
}

.hero__text {
  font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
}

.hero__strelka {
  margin-top: 85px;
}

@media only screen and(max-width: 930px) {
  .hero {
    background-image: url(../../img/hero-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .hero__line {
    margin: 0;
    padding: 0;
  }
 
  .hero-img {
    display: none;
  }
}

@media only screen and(max-width: 830px) {
  .hero {

    height: 650px;
    padding: 137px 0;
  }
  
  .hero__inner {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .hero__title {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .hero__box {
    max-width: 450px;
    text-align: center;
  }

  .hero__text {
    margin-top: 24px;
    margin-bottom: 32px;
  }

  .hero__strelka {
    position: absolute;
    bottom: -153px;
    left: -200px;
  }

}

@media only screen and(max-width: 517px) {
  .hero {
    padding-top: 115px;
    background-image: url(../../img/hero-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .hero__title {
    font-size: 40px;
    line-height: 40px;
  }
  
  .hero__strelka {
    left: -300px;
    margin-bottom: 20px;
  }
}